/*=====================
    Global Setting
=======================*/

a,
p,
button,
input,
div,
span,
td,
textarea {
  border: none;
  text-decoration: none;

  &:focus {
      outline: none !important;
  }
}

/*=====================
  Custom Class
=======================*/

@import 'assets/scss/utility';
